* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal ;
}
body {
    margin: 50px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 50px;
    padding-top: 50px;
}
nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 4vh;

}

.photo {
    border: 10px;
    border-color: black;
    border-radius: 50%;
    border-style: solid;
    max-width: 80%;
    margin-left: 20%;
    margin-right: 20%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header p {
    text-align: center;
    font-size: 1.2em;
    max-width: 60%;
}
p {
max-width: 60%;
font-weight: 200;
}
.dark {
    background-color: rgb(163, 154, 71);
    color: white;
    
}
.dark2 {
    filter: grayscale(1);
}
.dark3 {
    background-color: rgb(189, 182, 95);
    padding-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.theme {
    margin-left: 20%;
    margin-right: 20%;
}